.scoreContainer div:not(:first-child) {
    border-left: 1px solid black;
}

/* @media screen and (max-width: 350px) {
    .scoreContainer {
        flex-direction: column;
    }

    .scoreContainer div:not(:first-child) {
        border-top: 1px solid black;
        border-left: unset;
    }
} */